{% extends "base.html" %}

{%block navigation%} 
{{ super() }} 
{%endblock%}


{%block list%}

<div class="container">
<form method="post" action="{{url_for('add_cafes')}}" >
    <fieldset >
      <legend>Add Cafes</legend>
      <div class="mb-3">
        <label for="Name" class="form-label" >Name</label>
        <input type="text" id="cafe_name" name="cafe_name"class="form-control" placeholder="Enter Your Name" required maxlength="70">
      </div>
      <div class="mb-3">
        <label for="location" class="form-label" >Location</label>
        <input type="text" id="cafe_location" name="location" class="form-control" placeholder="Enter Location link from Map" required>
      </div>
      <div class="mb-3">
        <label for="open" class="form-label" >Open</label>
        <input type="text" name="open" id="open" class="form-control" placeholder="When does the cafe open?" required >
      </div>
      <div class="mb-3">
        <label for="close" class="form-label" >Close</label>
        <input type="text" id="close" name="close" class="form-control" placeholder="When does the cafe close?" required>
      </div>
      
      <div class="mb-3">
        <label for="coffee" class="form-label" placeholder="Select from the drop down">Coffee</label>
        <select id="coffee" name="coffee" class="form-select" required>
          <option value="" disabled selected>Select from the drop Down</option>
          <option>☕☕☕☕☕</option>
          <option>☕☕☕☕</option>
          <option>☕☕☕</option>
          <option>☕☕</option>
          <option>☕</option>
          <option>❌</option>
          
        </select>
      </div>
      <div class="mb-3">
        <label for="wifi" class="form-label"  >Wifi</label>
        <select id="wifi" name="wifi" class="form-select" required>
          <option value="" disabled selected>Select from the drop Down</option>
          <option>💪💪💪💪💪</option>
          <option>💪💪💪💪</option>
          <option>💪💪💪</option>
          <option>💪💪</option>
          <option>💪</option>
          <option>❌</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="power" class="form-label" >Power</label>
        <select id="power" name="power" class="form-select" required>
          <option value="" disabled selected>Select from the drop Down</option>
          <option>🔌🔌🔌🔌🔌</option>
          <option>🔌🔌🔌🔌</option>
          <option>🔌🔌🔌</option>
          <option>🔌🔌</option>
          <option>🔌</option>
          <option>❌</option>
         
        </select>
      </div>
      
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
</div>


{%endblock%}


{%block footer%} 
{{ super() }} 
{%endblock%}







