{% extends "base.html" %}

{%block navigation%} 
{{ super() }} 
{%endblock%}


{%block list%}

<div class="container">
<form method="post" action="{{url_for('add_cafes')}}" >
    <fieldset >
      <legend>Add Cafes</legend>
      <div class="mb-3">
        <label for="Name" class="form-label" >Name</label>
        <input type="text" id="disabledTextInput" name="cafe_name"class="form-control" placeholder="Enter Your Name">
      </div>
      <div class="mb-3">
        <label for="location" class="form-label" >Location</label>
        <input type="text" id="disabledTextInput" name="location" class="form-control" placeholder="Enter Location link from Map">
      </div>
      <div class="mb-3">
        <label for="open" class="form-label" name="open">Open</label>
        <input type="text" name="open" id="disabledTextInput" class="form-control" placeholder="When does the cafe open?">
      </div>
      <div class="mb-3">
        <label for="close" class="form-label" name="close">Close</label>
        <input type="text" id="disabledTextInput" name="close" class="form-control" placeholder="When does the cafe close?">
      </div>
      
      <div class="mb-3">
        <label for="coffee" class="form-label" placeholder="Select from the drop down" name="coffee">Coffee</label>
        <select id="disabledSelect" name="coffee" class="form-select">
            <option>Select from the drop Down</option>
          <option>☕☕☕☕☕</option>
          <option>☕☕☕☕</option>
          <option>☕☕☕</option>
          <option>☕☕</option>
          <option>☕</option>
          <option>❌</option>
          
        </select>
      </div>
      <div class="mb-3">
        <label for="wifi" class="form-label" name="wifi">Wifi</label>
        <select id="disabledSelect" name="wifi" class="form-select">
            <option>Select from the drop Down</option>
          <option>💪💪💪💪💪</option>
          <option>💪💪💪💪</option>
          <option>💪💪💪</option>
          <option>💪💪</option>
          <option>💪</option>
          <option>❌</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="power" class="form-label" name="power">Power</label>
        <select id="disabledSelect" name="power" class="form-select">
            <option>Select from the drop Down</option>
          <option>🔌🔌🔌🔌🔌</option>
          <option>🔌🔌🔌🔌</option>
          <option>🔌🔌🔌</option>
          <option>🔌🔌</option>
          <option>🔌</option>
          <option>❌</option>
         
        </select>
      </div>
      
      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" >
          <label class="form-check-label" for="disabledFieldsetCheck">
            
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
</div>


{%endblock%}


{%block footer%} 
{{ super() }} 
{%endblock%}







